<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HotelManagmentSystem.Properties.Settings.BDConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\BD.mdb"
            providerName="System.Data.OleDb" />
        <add name="HotelManagmentSystem.Properties.Settings.guestConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\guest.mdb"
            providerName="System.Data.OleDb" />
        <add name="HotelManagmentSystem.Properties.Settings.Database2ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Database2.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="HotelManagmentSystem.Properties.Settings.Database2ConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\database\Database2.mdb"
            providerName="System.Data.OleDb" />
        <add name="HotelManagmentSystem.Properties.Settings.Hotel_Managment_SystemConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\Dell\Documents\Hotel Managment System.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>